body {
  color: white;
  background-color: rgb(132, 179, 223);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 600%;
  font-style: oblique;
  font-weight: bolder;
}

.list {
  font-size: 300%;
  font-style: unset;
}

nav {
  display: flex;
  font-style: oblique;
  line-height: 3em;
  text-align: center;
  font-size: 130%;
  display: flex;
  flex-direction: row;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: white;
  background-color: rgb(88, 151, 254);
}
