.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  background-color: gray;
  text-align: center;
  font-size: 50px;
  grid-column-start: 2;
  grid-column-end: 4;
}
